<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<system.webServer>
    <handlers>
        <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform processPath="%JAVA_HOME%\bin\java.exe"
                  arguments="-Djava.net.preferIPv4Stack=true -jar &quot;%HOME%\site\wwwroot\webapps\getvideos-1.0-SNAPSHOT.jar&quot; server &quot;%HOME%\site\wwwroot\config.prod.yml&quot;">
    </httpPlatform>
</system.webServer>
</configuration>